<div class="output-wrapper">
  <div class="output-wrapper-border">
    <p class="output-header">
      {{ output.name }}
    </p>

    <p *ngIf="output.description" class="output-description">
      {{ output.description }}
    </p>
    <div class="output-actions">
      <!-- <div
        class="output-action-wrapper"
        *ngFor="let action of output.outputaction"
      >
        {{ action.name }}
      </div>-->
      <div class="output-action-wrapper" *ngIf="output.isBinary">
        <mat-slide-toggle
          color="primary"
          [(ngModel)]="turnOn"
          (ngModelChange)="toggleOutput($event)"
          >Turn on/off</mat-slide-toggle
        >
      </div>
      <div class="output-action-wrapper" *ngIf="!output.isBinary && output.max">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="{{
              'Set value from ' + output.min + '-' + output.max
            }}"
            [(ngModel)]="newValue"
          />
          <button
            mat-raised-button
            matSuffix
            color="primary"
            style="min-width: 30px !important"
            (click)="setNewValue(deviceId, $event)"
          >
            ->
          </button>
        </mat-form-field>
      </div>
      <div
        class="output-action-wrapper"
        *ngIf="!output.isBinary && !output.max"
      >
        <button
          mat-raised-button
          matSuffix
          color="primary"
          (click)="turnOnOutput()"
        >
          Turn on
        </button>
      </div>

      <!--  <div class="output-action-wrapper" *ngIf="output.isBinary">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-slide-toggle [checked]="isAutoLamp">
                Set Auto Lamp
              </mat-slide-toggle>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </div>-->
    </div>
  </div>
</div>
