.input-wrapper {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.input-wrapper-border {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e4e7ec;
  transition: 0.15s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  padding: 10px;
}
.input-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.input-description {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: space-between;
}
.input-action-wrapper {
  border-radius: 4px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  width: 50%;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  min-width: 160px;
}

.input-actions {
  display: flex;
  flex-wrap: wrap;
}
