<!--
-->
<div class="automations-container">
  <div
    style="display: flex; justify-content: space-between; margin-botton: 10px"
  >
    <div style="margin-bottom: 15px">
      <h2 style="margin: 0">Automations</h2>
      <span class="description">Click '+' to add new scenario.</span>
    </div>
    <button mat-mini-fab (click)="addAutomations()" title="Add automations">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div>
    <div *ngFor="let output of outputs">
      <span *ngFor="let automate of output.outputautomation">
        <div class="automation-label">
          <div>
            <span *ngIf="output.isBinary && automate.isTurnOn">Turn on </span>
            <span *ngIf="output.isBinary && !automate.isTurnOn">Turn off </span>
            <span *ngIf="!output.isBinary && output.max && automate.newValue"
              >Set new value {{ automate.newValue }}
            </span>
            <span *ngIf="!output.isBinary && !output.max"
              >Turn on {{ output.name }}
            </span>
            <span>{{ automate.cron | cronPipe }}</span>
          </div>
          <i class="fa fa-trash"></i>
        </div>
      </span>
    </div>
  </div>
</div>
