<mat-dialog-content class="mat-typography">
  <form [formGroup]="modelForm">
    <h2>New notification</h2>
    <div>
      <mat-form-field style="margin-right: 10px">
        <input
          matInput
          type="text"
          id="name"
          placeholder="Name"
          autocomplete="off"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          id="name"
          placeholder="Description"
          autocomplete="off"
          formControlName="description"
        />
      </mat-form-field>
    </div>
    <h3>Send when value from sensor is</h3>
    <div>
      <mat-form-field>
        <!--  <input
          matInput
          id="condition"
          placeholder="condition"
          formControlName="condition"
          required
        />-->
        <mat-select
          matInput
          id="condition"
          placeholder="condition"
          formControlName="condition"
          required
        >
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h3>from:</h3>
      <mat-form-field>
        <input
          matInput
          id="threshold"
          placeholder="threshold"
          formControlName="threshold"
          type="number"
          required
        />
      </mat-form-field>
    </div>
    <h3>Send alert to:</h3>
    <mat-form-field>
      <input
        matInput
        id="email"
        placeholder="Email"
        formControlName="email"
        required
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="accent"
    [mat-dialog-close]="true"
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
