<div class="details-container">
  <!--<h2 class="header">Module</h2>-->
  <form [formGroup]="modelForm">
    <div>
      <i class="details-icon {{ modelForm.controls.iconName.value }}"></i>
    </div>
    <div>
      <mat-form-field *ngIf="!deviceId">
        <input
          matInput
          type="text"
          id="name"
          placeholder="name"
          autocomplete="off"
          formControlName="name"
          required
          disabled
        />
      </mat-form-field>

      <mat-form-field *ngIf="!deviceId">
        <input
          matInput
          disabled
          id="url"
          placeholder="url"
          formControlName="url"
          required
        />
      </mat-form-field>
      <div>
        <h1 *ngIf="device" class="details-name">{{ device.name }}</h1>
      </div>
      <div>
        <span *ngIf="device" class="details-url"> {{ device.url }}</span>
      </div>
    </div>
    <div>
      <div>
        <mat-slide-toggle color="primary" formControlName="isSmartLight">
          Smart Light
        </mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle
          color="primary"
          formControlName="isAutoAirConditioner"
        >
          Auto Air Conditioner
        </mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle
          color="primary"
          *ngIf="
            modelForm.controls.isSmartLight.value ||
            modelForm.controls.isAutoAirConditioner.value
          "
          (click)="switchLamp()"
          formControlName="isAutoTurnOn"
          >Auto Turn On</mat-slide-toggle
        >
      </div>
    </div>
    <div>
      <div>
        <mat-form-field *ngIf="iconstOptions" style="width: 70px">
          <mat-select matInput placeholder="Icon" formControlName="iconName">
            <mat-option *ngFor="let icon of iconstOptions" [value]="icon.label">
              <i
                style="font-size: 30px; color: #b2b8bd"
                class="{{ icon.label }}"
              ></i>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="accent" (click)="register()">
          {{ deviceId ? "Update" : "Register" }}
        </button>
      </div>
    </div>

    <!-- <input
        formControlName="imageSrc"
        class="ng-hide"
        id="input-file-id"
        type="file"
        (change)="onFileChanged($event)"
      />
      <label for="input-file-id" class="md-button md-raised md-primary"
        >Choose Files</label
      >-->
    <!--
-->
  </form>

  <div *ngIf="device && device.deviceoutput" class="center">
    <app-output
      *ngFor="let outputValue of device.deviceoutput"
      [output]="outputValue"
      [deviceId]="device.id"
    ></app-output>
  </div>

  <div *ngIf="device && device.deviceinput" class="center">
    <app-input
      *ngFor="let inputValue of device.deviceinput"
      [input]="inputValue"
      [deviceId]="device.id"
    ></app-input>
  </div>
  <app-automations></app-automations>
  <!--   <app-outputs-grid
      *ngIf="device && device.deviceoutput"
      [outputs]="device.deviceoutput"
    ></app-outputs-grid> -->
  <!--  <app-actions *ngIf="device && deviceId" [device]="device"></app-actions> -->
  <!--  <app-inputs-grid
      *ngIf="device && device.deviceinput"
      [inputs]="device.deviceinput"
    ></app-inputs-grid>
    {{ device | json }} -->
</div>
